* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: #333333;
}

:root {
    --main-colour: #F2E9E4;
}
/* Webpage layout */

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1.5fr;
    height: 100vh;
    gap: 10px;
}

#sidebar {
    grid-row: 1 / 3;
    background-color: var(--main-colour);
}

#notes {
    grid-column: 2 / 3;
}

/* Sidebar layout and styles */

#header-logo {
    width: 40px;
    filter: invert(99%) sepia(11%) saturate(587%) hue-rotate(332deg) brightness(118%) contrast(100%);
}

#sidebar > ul {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    align-content: center;
    gap: 10px;
}

#sidebar-header {
    display: grid;
    grid-template-columns: 40px 135px;
    list-style-type: none;
    padding-top: 12px;
}

#header-title {
    font-size: 3rem;
    font-family: "Spicy rice";
}

#menu {
    display: grid;
    grid-template-columns: 40px 135px;
    grid-template-rows: repeat(4, 40px);
    list-style-type: none;
    margin-top: 30px;
}

#menu > li,
#projects > li {
    font-size: 1.2rem;
}

#sidebar-header, 
#menu,
#projects {
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

#projects {
    display: grid;
    grid-template-columns: 40px 135px;
    grid-template-rows: repeat(2, 40px);
    list-style-type: none;
    margin-top: 12px;
    grid-auto-rows: 40px;
}

#menu > img,
#projects > img {
    width: 30px;
    justify-self: center;
}

#menu > .title,
#projects > .title {
    font-size: 1.6rem;
}

.tabs:hover {
    font-weight: 500;
}

#menu > .tab-icon,
#projects > .tab-icon {
    width: 25px;
}

/* Main content section layout and styles */

#main {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--main-colour);
}

#header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#project-name {
    font-size: 2.3rem;
    font-weight: normal;
    padding-left: 13px;
    padding-top: 13px;
}

#delete-project {
    border: none;
    width: 20px;
    height: 30px;
    background-image: url("./assets/icons/remove-file.svg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    align-self: end;
    margin-left: 12px;
    background-color: var(--main-colour);
}

#tasks-container {
    display: grid;
    grid-template-rows: repeat(4, 80px);
    grid-auto-rows: 80px;
    row-gap: 10px;
    padding: 8px;
    padding-top: 25px;
}

.task-card {
    border: 2px solid black;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 25px repeat(2, 1fr);
    grid-template-rows: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 30px;
    column-gap: 10px;
}

.circle-check {
    grid-row: 1/3;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid black;
}

.card-interact {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: end;
}

.descriptionBtn {
    padding: 5px 15px 5px 15px;
    background-image: url("./assets/icons/eye.svg");
}

.card-title {
    font-size: 1.2rem;
}

.date {
    font-size: 1rem;
    color: grey;
    font-style: italic;
}

.card-interact > button,
#edit-notes-btn,
.close {
    width: 20px;
    height: 30px;
    border: none;
    background-color: inherit;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    justify-self: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    justify-self: center;
}

.editTaskBtn {
    background-image: url("./assets/icons/edit-pen.svg");
}

.deleteTaskBtn {
    background-image: url("./assets/icons/delete.svg");
}

.descriptionBtn:hover,
.editTaskBtn:hover,
.deleteTaskBtn:hover {
    transform: scale(1.2);
}

/* Notes section layout and styles */

#notes {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 1.5rem;
    gap: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: var(--main-colour);
}

#notes-area {
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
}

#edit-notes-btn {
    margin-top: 5px;
    background-image: url("./assets/icons/notebook-edit.svg");

}

/* Other */

.title {
    font-family: "Roboto";
}

#delete-project:hover,
#edit-notes-btn:hover {
    transform: scale(1.2);
}

/* New project dialog*/

#project-dialog {
    padding: 1em;
    left: 1rem;
    top: 15rem;
}

#project-form {
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 1.3rem;
    gap: 5px;
}

#project-form > input {
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: 10px;
}

#project-form > button {
    font-size: 1rem;
    padding: 3px 15px 3px 15px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-colour);
}

#project-form > button:hover,
#task-form-btns > button:hover {
    opacity: 0.7;
}

.close-form {
    margin-left: 15px;
    align-items: end;
}

/* New task dialog*/

#task-dialog {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 40%;
    height: 80%;
}

#task-dialog::backdrop {
    backdrop-filter: blur(3px);
}

#task-form {
    display: grid;
    padding: 1em;
    grid-template-rows: repeat(3, 1fr) 5fr repeat(6, 1fr);
    font-size: 1.2rem;
    gap: 8px;
    justify-items: start;
}

#task-form > input,
#task-form > select,
#task-form > textarea {
    padding-left: 10px;
    font-size: 1rem;
}

#task-form > input,
#task-form > select {
    height: 25px;
}

label {
    font-weight: 500;
}

#title {
     width: 12rem;
}

#description {
    height: 8rem;
    width: 28rem;
    resize: none;
    padding-left: 10px;
    padding-top: 5px;
}

#priority {
    width: 8rem;
}

#project {
    width: 12rem;
}

#create-task,
#task-form-btns > .close-form {
    margin-top: 40px;
    padding: 3px 15px 3px 15px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background-color: var(--main-colour);
}
